nav{
    width:100%;
    /*background: #333;*/
    color:#fff;
    padding:4px 0;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width:60px;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}

/*all components ke liye in navbar */
.container{
    padding-left:10%;
    padding-right: 10%;

}
/*button navbar cobtact us and explore here in hero swction*/
.btn{
    background: #fff;
    color:#212121;
    padding:12px 20px;
    font-size:14px;
    border-radius: 25px;
    cursor: pointer;
    border:0;
    outline: 0;
    display:inline-flex;
    align-items: center;
    justify-content: center;
}
/*button ke under arrow ke liye style*/
.btn img{
    width:20px;
    margin-left:10px;
}

/*
navbar color*/
.dark-nav{
    background: #212Ea0;
    transition: 0.5s;
}
.menu-icon{
    display:none;

}
/*---------media Query--------*/
/* below screen 845 to 1000*/
@media (max-width: 1000px){
    .logo{
        width:30px;
    }
    nav ul li{
        margin:10px 15px;
    }

}

/*below screen 840*/

@media (max-width: 840px){
    nav{
        padding:15px 0;
    }
    nav ul{
        position:fixed;
        top:0;
        right:0px;
        bottom: 0;
        background: #212EA0;
        z-index: -1;
        width:200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li{
        display:block;
        margin:25px 40px;

    }
    .menu-icon{
        display:block;
        width: 30px;
        cursor: pointer;
    }
    .hide-mobile-menu{
        right:-200px;

    }
}